.oscuro {
  background-color: black;
  color: white;
  border-color: white;
}

.oscuro .nav .oscuro-nav li a {
  color: white;
}

.oscuro-thead td{
  background-color: rgb(12, 116, 151);
  color: white;
  border-color: white;
}