form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid rgb(56, 101, 111);
    padding: 15px 20px 30px 20px;
    border-radius: 15px;
    width: 95%;
    max-width: 520px;
    margin: 20px auto;
    box-sizing: border-box;
}

label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-top: 8px;
}

input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(56, 101, 111);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.captcha {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#img_captcha {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

button {
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(56, 101, 111);
}

#msjCaptcha {
    color: red;
    text-align: center;
}

#msjCaptcha.correcto {
    color: green;
    text-align: center;
}


@media screen and (min-width: 768px) {
    form {
        width: 35%;
        margin: 30px auto;
    }
}