.nav {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  flex-direction: column;
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(104, 189, 218);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

  
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.nav_links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 10px 10px 10px;
  gap: 15px;
}

.nav_links li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.nav_links li a:hover {
  text-decoration: underline;
}

.btn_menu {
  display: block;
}

.nav.desplegar {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

@media only screen and (min-width: 768px) {
    
  .btn_menu {
    display: none;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    transform: translateX(0%);
  }

  .nav_links {
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
  }

  .nav_links li a {
    font-weight: bold;
  }
}