/* ---------------------------------------------- HOME ------------------------------------------------ */
html, body, label, input, td, thead{
transition: background-color 0.5s ease, 
color 0.5s ease, border-color 0.5s ease;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: rgb(104, 189, 218);
}

header h1 {
  margin: 0;
  padding: 2px;
}

header img {
  height: 40px;
  cursor: pointer;
}

.menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

p {
  padding: 0 10px;
  margin: 10px 10px 30px 0;
  text-align: justify;
}

h3, h4{
  padding: 0 10px;
  text-align: justify;
  margin-bottom: 0;
}

.content-acuerdo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-ul ul {
  margin: 30px 0;
  margin-left: 0px;
}
/* -------------------------------------------------- TABLE --------------------------------------------------------- */

.scroll_horizontal {
  width: 100%;
  overflow: auto;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

thead{
  font-size: 13px;
}

thead td {
  padding: 4px;
}

td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  text-align: center;
}

/* ------------------------------------------------- BOTONES DE ACCIÓN ---------------------------------------------------- */

.btn_accion_modificar,
.btn_accion_eliminar {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding: 6px;
  font-size: 11px;
}

.btn_accion_modificar {
  margin-right: 0;
}
  
.filtro-container {
  width: 95%;
}
  
.filtro-container button {
  font-size: 12px;
  padding: 8px;
}
  
#filtro_condicion {
  font-size: 14px;
  padding: 8px;
}

/* ----------------------------------------------- PRONOSTICO --------------------------------------------------- */
.filtro-container {
  width: 80%;
  margin: 10px auto;
}

#filtro_condicion {
margin-bottom: 7px;;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-overlay.visible {
  display: block;
}

.popup-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
}

.popup-modal h3 {
  margin-top: 0;
}

#form_modificar, #form_agregar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-botones {
  display: flex;
  gap: 10px;
}

.popup-botones button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn_cancelar, #btn_cancelar_agregar {
  background-color: gray;
  color: white;
}

#btn_modificar, #btn_agregar {
  background-color: cadetblue;
  color: white;
}

body.oscuro .popup-modal {
  background-color: black;
  color: white;
}

.btn_accion_modificar {
  margin-right: 7px;
}

/* ----------------------------------------------- NAVBAR --------------------------------------------------------- */
.nav {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  flex-direction: column;
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(104, 189, 218);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

  
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.nav_links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 10px 10px 10px;
  gap: 15px;
}

.nav_links li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.nav_links li a:hover {
  text-decoration: underline;
}

.btn_menu {
  display: block;
}

.nav.desplegar {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

/* -------------------------------------------- IMAGENES HOME --------------------------------------------------- */
.content-acuerdo img,
.imgs-ul img {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.content-acuerdo img:hover,
.imgs-ul img:hover {
  transform: scale(1.03);
}



.imgs-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

/* --------------------------------------------- FORMULARIO ------------------------------------------------------ */

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid rgb(56, 101, 111);
  padding: 15px 20px 30px 20px;
  border-radius: 15px;
  width: 95%;
  max-width: 520px;
  margin: 20px auto;
  box-sizing: border-box;
}

label {
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding-top: 8px;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgb(56, 101, 111);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.captcha {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#img_captcha {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

button {
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(56, 101, 111);
}

#msjCaptcha {
  color: red;
  text-align: center;
}

#msjCaptcha.correcto {
  color: green;
  text-align: center;
}

/* ------------------------------------------------ DARK MODE ---------------------------------------------------- */

body.oscuro {
  background-color: rgb(0, 0, 0);
  color: white;
}

body.oscuro td {
  border-color: white;
  color: white;
}

body.oscuro thead {
  background-color: rgb(12, 116, 151);
}

body.oscuro label,
body.oscuro input {
  background-color: black;
  color: white;
  border-color: white;
}

body.oscuro nav a {
  color: white;
}

/* ##################################################### MEDIA QUERIES ################################################################# */
@media only screen and (min-width: 768px) {

  p, h2, h3, h4 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: justify;
  }
  
  .content-acuerdo, .imgs-ul, .content-ul {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* -------------------------------------------- NAVBAR --------------------------------------------------------- */

  .btn_menu {
    display: none;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    transform: translateX(0%);
  }

  .nav_links {
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
  }

  .nav_links li a {
    font-weight: bold;
  }

/* --------------------------------------IMAGENES HOME--------------------------------------------------- */

  .imgs-ul {
    flex-direction: row;
    justify-content: center;
  }

/* -------------------------------------- FORMULARIO ------------------------------------------------------ */

  #form_contacto {
    width: 35%;
    margin: 30px auto;
  }

  /* -------------------------------------- TABLE ------------------------------------------------------ */

  table {
    width: 80%;
    margin: 20px auto 50px auto;
    font-size: 15px;
  }

  thead{
    font-weight: bold;
    background-color: rgb(207, 243, 255);
    font-size: 18px;
  }

  td {
    padding: 8px;
  }

  /* ------------------------------------------------- BOTONES DE ACCIÓN ---------------------------------------------------- */

  .btn_accion_modificar,
  .btn_accion_eliminar {
    font-size: 15px;
  }
  
  .filtro-container button {
    font-size: 15px;
  }
}